<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon.in Test Suite">

<listeners>
		<listener class-name="ListenersUtil.Listeners"/>
	</listeners>
	
  <test thread-count="4" name="Amazon.in Test Cases">
  
    <classes>
        
     <class name="TestngPackage.SearchTest"/> 
     <class name="TestngPackage.DeleteProductTest"/> 
     <class name="TestngPackage.WishlistTest"/> 
     <class name="TestngPackage.SigninTest"/> 
     </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
